#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    
    min-height:500px;
    position:relative;
}

.mapa {
    padding: 10px;
}

#titulo-formulario {
    color: #080808;
}