.cont {
    text-align: center;
    
}

.accordion {
    max-width: 75%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    background-color: #0e058738;
   
strong {
    font-size: 1rem;
    font-weight: bold;
    
}
  
}

.youtube {
    
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
    
.card {
    max-width: 75%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #afafaf;
   
    
    
}

.btn {
    background-color: #000000;
    color: #ffffff;
}


.btn:hover {
    background-color: #e30fab;
    
}


#img-equipo{
    max-height:30rem;
    width:50%;
}

h1 {
    text-align: center;
    color: $color-master;
}

h2 {
    color: $color-slave;
}

h3 {
    color: #ffffff;
}
