#numeros-local {
    margin: 0;
    padding: 0;
  
    div {
      padding: 0 20px 0 0;
      text-align: left;
      height: 48px;
  
      &:not(:last-child) {
        border-right: 2px solid #3f3f3f;
      }
  
      &:not(:first-child) {
        padding-left: 20px;
      }
    }
  
    p {
      margin: 0;
    }
  }